.navbar-default .navbar-nav > li > a {
  color: #fff;
  margin: 0px 2px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #3399FF;
}
.navbar-default {
  background-color:transparent;
  border-color:transparent;
}
.carousel-caption {
  left: 20%;
  padding-bottom: 30px;
  right: 20%;
}
.benner-title {

}
.benner-title > a {
  background: #3399ff none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  line-height: 98px;
  padding: 10px 20px;
}
.benner-title > a:hover {
	transition: 0.5s;
  color: #000;
  background:#ccc;
 text-decoration:none;
}
.vedio-link {
  bottom: 87px;
  left: 30%;
  position: absolute;
  z-index: 1;
}
.vedio-link a{
  text-decoration:none;
  color:#ccc;
  padding-left:10px;
}
.item{
	position:relative;
}
.overly {
  background:#9810C1 repeat scroll 0 0;
  bottom: 0;
  height: 750px;
  opacity: 0.3;
  position: absolute;
  width: 100%;
}
.overly:hover {
  background:transparent repeat scroll 0 0;
  bottom: 0;
 transition: 0.5s;
  height: 750px;
  opacity: 0.3;
  position: absolute;
  width: 100%;
  cursor:pointer;
}

h3 {
  font-size: 40px;
}
.benner-title {
  line-height: 25px;
  padding-top: 101px;
}
.benner-title p {
  padding-top: 40px;
}




.fa {
  font-size: 40px;
   margin:15px 0;
}
.col-md-12 {
  background: #ddd none repeat scroll 0 0;
  border-left: 2px solid gray;
  padding-left: 0;
  width: 100%;
   margin: 5px 0;
   border-bottom: 2px solid #ccc;
  
  border-left: 2px solid #ccc;
  border-top: 2px solid #ccc;
}
.fa{
	background:#ffaa10;
	
}
.fa{
  background: #fff;
  padding: 4px 4px;
  border-radius: 100%;
  height: 10px;
  width: 10px;
}
.col-md-4 > h3 {
  color: #ffaa10;
}
.phone-icon .fa {
	background:#ccc;
  border: 2px solid #ccc;
  border-radius: 100%;
  width: 54px;
  height: 54px;
  font-size: 35px;
  padding-top: 10px;
  margin:10px;
  cursor:pointer;
 
}
.icon-text > p {
  float: left;
  display: block;
  position: absolute;
  bottom: 22px;
  left: 76px;
}
.phone-icon:hover{
	color:#ffaa10;
	transition: 0.5s;
  cursor:pointer;
}

.contact-vedio a{
	color:#ff7c38;
	font-size:20px;
	margin:0 10px;
}
.contact-vedio a:hover{color:#2B3176}





/*expart-aria*/
.expart-aria {
  margin: 64px 0;
  text-align: center;
}
.expart2-title {
  bottom: 0;
  left: 200px;
  line-height: 29px;
  margin: 40px auto;
  overflow: hidden;
  position: absolute;
  right: 201px;
  text-align: center;
  top: 0;
  z-index: 1;
}
.expart-title > a {
  border: 1px solid #ccc;
  padding: 10px 10px;
  border-radius: 25px;
  color: #000;
  text-decoration:none;
}
.phone-icon .fa {
  border: 2px solid #ccc;
  border-radius: 100%;
  width: 54px;
  height: 54px;
  font-size: 35px;
  padding-top: 10px;
}
.expart-2-aria{
	background:url(img/2benner.jpg) no-repeat center /cover;
	position:relative;
	 height: 275px;
}
.expart-2-aria {
  color: #fff;
  text-align: center;
  padding-top: 37px;
}
.overlay2 {
  background: #bd54ff none repeat scroll 0 0;
  color: #fff;
  height: 275px;
  opacity: 0.5;
  width: 100%;
  bottom: 0;
  position: absolute;
}
.expart2-title > a {
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
}
.expart2-title > a:hover {
	transition: 0.5s;
  color: red;
  background:#fff;
 text-decoration:none;
}
.col-md-6.sumon > img {
  float: right;
  width: 150px;
}
.item.active.clint {
  margin: 131px 0px;
}



.footer-top {
  background: rgba(0, 0, 0, 0) url("img/3benner.jpg") no-repeat scroll center center / cover ;
  float: left;
  height: 379px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
input {
  background: transparent none repeat scroll 0 0;
  color: #fff;
}
.form-control {
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  color: #fff;
  z-index: 1;
  display: inline-block;
}
.form-inline .form-control {
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  color: #fff;
}
.footer-top > a {
  border: 2px solid #fff;
  border-radius: 25px;
  font-size: 30px;
  line-height: 79px;
  margin: 10px;
  padding: 4px 29px;
}
.frome {
  color: #fff;
  margin: 131px 0;
}
.footer-icon {
  font-size: 24px;
  text-align: center;
}
.footer-icon .fa {
  margin: 18px;
  cursor:pointer;
}
.footer-icon .fa:hover {
 color:#ffaa10;
}